    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#location">Find by Location</a></li>
                  <li><a href="#category">Find by Category</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li ng-if="!isLoggedIn">
                      <a ng-click="login()"><h3><span class="glyphicon glyphicon-log-in" aria-hidden="true" ></span></h3></a>
                </li>
                <div ng-if="isLoggedIn">
                  <li class="col-md-6">
                   <!--   <h3>{{fullName}}</h3> -->
                        <a href="#PersonalPage"><img class="img-circle icon" data-ng-src="data:image/png;base64,{{image}}"></a>
                  </li>
                  <li class="col-md-1">
                        <a ng-click="logout()"><h3><span class="glyphicon glyphicon-log-out" aria-hidden="true" ></span></h3></a>    
                  </li>
                </div>
                </ul>  
              </div>
            </div>
          </nav>
        </div>
    </nav>         
               
<div class="jumbotron">
  <h1>Bartcycle <small> Give your contribution to improve our environment</small></h1>
  <div class="col-md-10">
      <p ng-if="!isLoggedIn">Not yet a User. <a ng-click="register()">Sign-up</a> Today and start to give your contribution to our environment. </p>
  </div>
  <div class="col-md-2">
      <button type="button" class="btn btn-primary" ng-if="isLoggedIn" ng-click="Publish()">Publish</button>
  </div>
  
</div>