    <div class="container">
        <div class="row row-content">
          <div class="col-md-2">
              <h3>Placeholder image</h3> 
          </div>
          <div class="col-md-3">
              <h1>{{ObjsDetails.title}}</h1>    
          </div>
          <div class="col-md-2"><small><i>{{ObjsDetails._id}}</i></small></div>
          <div class="col-md-1"><h1>{{ObjsDetails.vt}}</h1></div>
        </div>

      <div class="row row-content">
      <div class="col-md-offset-2 col-md-3">
          <p>{{ObjsDetails.description}}</p>
      </div>
      </div>
        
    </div>
